{% extends 'base.html' %}
{% load static %}

{% block 'main' %}

<!--This contant only for informaton of for practice / 
    make website for project perpuse-->
<br><br>
<hr>
<div class="container about-us">
    <h2>About Our Car Management System</h2>
    <p>Welcome to Car Management System, your trusted partner in car buying and management.</p>

    <h3 class="about-hed"> Our Mission</h3>
    <p class="about para">Our mission is to revolutionize the car buying experience by providing high-quality vehicles, exceptional service, and transparent pricing.</p>

    <h3>Our Values</h3>
    <ul>
        <li>Customer satisfaction above all else</li>
        <li>Integrity and transparency in all dealings</li>
        <li>Continuous improvement and innovation</li>
        <li>Commitment to community and environmental sustainability</li>
    </ul>

    <h3>Company History</h3> <!---This is just for project -->
    <p>Car Management System was founded in 20XX by a team of passionate car enthusiasts...</p>

    
    <h3>What We Offer</h3>
    <p>At Car Management System, we offer a wide range of services to meet all your car buying and management needs...</p>

    <h3>Customer Testimonials</h3>
    <div class="row">
        <div class="col-md-6">
            <blockquote>
                <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci autem porro cum quia,
                     laborum veritatis aspernatur molestiae magnam non provident eum accusantium molestias!
                      Nemo pariatur temporibus ea sit nobis distinctio nam nulla veritatis neque laboriosam!</p>
            </blockquote>
        </div>
        <!-- Add more testimonials as needed -->
    </div>

    <h3>Contact Us</h3>
    <p>
        <span class="fw-bold">Address:</span><br>
        2nd Floor, Landmark Building<br>
        Near Seawoods Mall<br>
        Parks Wonders Park, New Mumbai<br><br>
        <span class="bi bi-telephone-fill text-primary"></span> : 0000000066
    </p>
    <p>
        <span class="bi bi-envelope text-primary"></span> : prem@gmail.com
    </p>
    
</div>
<hr>

{% endblock 'main' %}
