{% load static %}
<!-- Footer Starts -->
<div class="row mt-5">
    <div class="col-md-3">
        <h5>Address</h5>
        <hr>
        <p>&nbsp;&nbsp;&nbsp;2nd Floor, Landmark Building<br>
            &nbsp;&nbsp;&nbsp;Near Seawoods Mall<br>
            &nbsp;&nbsp;&nbsp;Parks Wonders Park, New Mumbai<br><br>
        &nbsp;<i class="bi bi-telephone-fill text-primary"></i> &nbsp;&nbsp;: 0000000066</p>
        <p><i class="bi bi-envelope text-primary"></i> &nbsp;&nbsp;: prem@gmail.com</p>
    </div>

    <div class="col-md-4">
        <h5 class="text">Quick Links</h5>
        <hr>
        <p><a href="/home.html" class="anchor">Home</a></p>
        <p><a href="/about.html" class="anchor">About</a></p>
        <p><a href="/cart.html" class="anchor">Car</a></p>
        <p><a href="/contact.html" class="anchor">Contact</a></p>
    </div>

    <div class="col-md-4">
        <h5 class="text">Contact Us</h5>
        <hr>
        <div class="social-icons">
            <a href="http://www.facebook.com" class="social-icon fb"><i class="bi bi-facebook"></i></a>
            <a href="http://www.instagram.com" class="social-icon insta"><i class="bi bi-instagram"></i></a>
            <a href="http://www.linkedin.com" class="social-icon linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="http://www.twitter.com" class="social-icon twitter"><i class="bi bi-twitter"></i></a>
        </div>
    </div>
</div>
<!-- Footer Ends -->
<script src="{% static 'asset/js/popper.min.js' %}"></script>
<script src="{% static 'asset/js/bootstrap.min.js' %}"></script>

</body>
</html>
