{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="{% static 'asset/css/bootstrap.min.css' %}" rel="stylesheet">
    <link  href="{% static 'asset/css/carapp.css' %}" rel="stylesheet">
    <title> Login Page </title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 mx-auto login-form">

                    <h2 style="text-align: center;"> Login </h2>

                    {% if errmsg %}
                    <div class="alert alert-danger">
                        {{ errmsg }}
                    </div>
                    {% endif %}

                    <form method="POST" action="/login">
                        {% csrf_token %}
                        <div class="mb-3">

                            <label for="input1" class="form-label">Username:</label>
                            <input type="name" class="form-control" id="input1" name="uname" placeholder="Enter your username">

                        </div>

                        <div class="mb-3">

                            <label for="input2" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="input2" name="upass" placeholder="Enter your password">

                        </div>

                        <div class="mb-3">

                            <input type="submit" value="Login" class="btn btn-login">
                            Not a user? <a href="/register" class="link">Register</a>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'asset/js/bootstrap.min.js' %}"></script>
</body>
</html>
