{% extends 'base.html' %}
{% load static %}

{% block 'main' %}

<!---Main  Content-->
<div class="row mt-5 white-box">
    {% for x in products %}
    <div class="col-md-6 mt-5">
        <img  src="{{x.pimage.url}}" width="100%" alt="" />
    </div>

    <div class="col-md-5 white-text">
       <P><strong>Product Name:</strong>&nbsp;&nbsp;&nbsp;{{x.name}}</p>
       <p><strong>Price:</strong>&nbsp;&nbsp;&nbsp;Rs.{{x.price}}</p>
       {% if x.cat == 1 %}
       <p><strong>Category:</strong>&nbsp;&nbsp;&nbsp;SUV</p>
       {% elif x.cat == 2 %}
       <p><strong>Category:</strong>&nbsp;&nbsp;&nbsp;Sedan</p>
       {% else %}
       <p><strong>Category:</strong>&nbsp;&nbsp;&nbsp;Hatchback</p>
       {% endif %}
       <p><strong>Product Description:</strong>&nbsp;&nbsp;&nbsp;{{x.pdetails}}</p>
       <a href="/addtocart/{{x.id}}"><button class="btn btn"> Register Your Interest </button></a>&nbsp;&nbsp;&nbsp;
       <a href="/viewcart"><button class="btn btn"> Configure & Price </button></a>&nbsp;&nbsp;&nbsp;
       <a href="/home"><button class="btn btn"> See More Cars </button></a>
       <br>
       {% if success %}
       <div class="alert alert-success">
           {{success}}
       </div>
       {% endif %}
       {% if msg %}
        <div class="alert alert-danger">
           {{msg}}
        </div>
       {% endif %}
    </div>0
    {% endfor %}
</div>

<!---Main Section Ends-->

{% endblock 'main' %}